<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

  <% @blogs.each do |blog| %>
    <p><%= blog.title %></p>
    <p><%= blog.body %></p>
    <p><%= link_to blog.status, toggle_status_blog_path(blog.id)%></p>
    <p><%= link_to 'Show', blog %>, <%= link_to 'Edit', edit_blog_path(blog) %>, <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <br>
    <br>
  <% end %>



<%= link_to 'New Blog', new_blog_path %>
